@import

* {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}
h1 {
  margin: 0 10px;
  color: #E3C803;
}
circle.node {
  stroke: #fff;
  stroke-width: 1.5px;
}
line.link {
  stroke: #999;
  stroke-opacity: .6;
}
div#chart {
  background-color: #f2f2f2;
  border: 1px solid #959595;
  height: 600px;
  border-radius: 10px;
  margin: 0px;
}