<section class="index">
<h1>Welcome to the beta</h1>
<p>This is the work-in-progress. After more than a year of running Massive Report Data, there are some techniques that I've been itching to try out. Some of these could make exploring this information more intuitive, while others are more about infrastructure and keeping me sane behind the scenes.</p>
<p>Being a beta, please don't come to rely on any of the content you see here - in an ideal world, it will either be promoted to the production system, or retired quietly. If you want to follow along as a developer, check out the GitHub link in the footer.</p>
<p>If you've got any questions or feedback about anything you see here, contact me via the links in the footer below.</p>
</section>
